/*//// стили*/

.bg-light-green{
    /*background-color: #d1efe1;*/
    background-color: #ffffff;
}

.bg-green{
    background-color: #05834e;
}

.border-hover-green{
    border-color:  #d1efe1;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)
}

.border-hover-green:hover{
    border-color: #05834e;
    box-shadow: 0 0.5rem 1rem #05834e
}

.btn-outline-dark{
    color: white;
    border-color: white;
}


.btn-category {
    color: #0a0a0a;
    background-color: transparent;
}
.btn-category:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.btn-check:focus + .btn-category, .btn-category:focus {
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-check:checked + .btn-category, .btn-check:active + .btn-category, .btn-category:active, .btn-category.active, .btn-category.dropdown-toggle.show {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.btn-check:checked + .btn-category:focus, .btn-check:active + .btn-category:focus, .btn-category:active:focus, .btn-category.active:focus, .btn-category.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-category:disabled, .btn-category.disabled {
    color: #212529;
    background-color: transparent;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}.fileUpload input.upload {
     position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     padding: 0;
     font-size: 20px;
     cursor: pointer;
     opacity: 0;
     filter: alpha(opacity=0);
 }